/* 
  this css file is applying changes on the fly.
  edit this file with its page opened
*/
p{
  color: gray;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}
p.small{
  font-size: 14px;
}